@use "../tokens.scss" as *;

.footer {
  width: 100%;
  height: 91px;
  background-color: get-color(primary);
  position: relative;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;

  &__menu:active,
  :focus {
    background-color: get-color(orange);
    border-radius: 0.5rem;
  }
}
