@use "../../tokens.scss" as *;

.create-account-page,
.forgot-password-page,
.reset-password-page,
.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__image {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    img {
      width: 5rem;
      height: auto;
    }
  }

  // Form styles
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .input-wrapper {
      margin-top: 0.5rem;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      margin-top: 0.5rem;
      height: 6rem;
    }
  }
}
