@use "../../tokens.scss" as *;

.create-account-page,
.forgot-password-page,
.reset-password-page,
.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  // Form styles
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__image {
      display: flex;
      justify-content: center;

      img {
        width: 5rem;
        height: auto;
      }
    }

    .input-wrapper {
      margin-top: 0.5rem;
    }

    &__forgot {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 0.5rem;

      &__errors {
        display: flex;
        flex-direction: column;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      margin-top: 0.5rem;
      height: 6rem;
    }
  }
}
