@use "../../tokens.scss" as *;
@use "../../breakpoints.scss" as *;

.post {
  background-color: get-color(primary-10);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .front {
    &__image {
      position: relative;
      aspect-ratio: 1 / 1;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      overflow: hidden;

      &__media {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }

    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;

      &__text {
        display: flex;
        flex-direction: column;

        &__game {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 90%;
        }
      }

      &__icons {
        color: get-color(primary);
        display: block;
        gap: 0.5rem;

        svg {
          width: 2rem;
          height: 2rem;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
