// _breakpoints.scss

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// You can define tablet/desktop later
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1024px;

$bp-xs: 20rem; // 320px
$bp-sm: 30rem; // 480px
$bp-md: 48rem; // 768px
$bp-lg: 64rem; // 1024px
$bp-xl: 75rem; // 1200px

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
