@use "sass:map";

$colors: (
  primary: #0344dc,
  primary-10: rgba(3, 68, 220, 0.1),
  orange: #ff4f00,
  secondary: #ffffff,
  space: #01203f,
  red: #ff0000,
  gray: #babac4,
);

@function get-color($name) {
  @return map.get($colors, $name);
}
