@use "./tokens.scss" as *;

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-field {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: get-color(secondary);

  @extend .regular-spaceblue-15;
}

.input-label {
  position: absolute;
  left: 0.5rem;
  top: 0;
  pointer-events: none;
}

.input-field--error {
  border: 1px solid get-color(red);
}

.input-error {
  position: absolute;
  right: 0.5rem;
  top: 0;
  pointer-events: none;
  transition: transform 0.15s ease, font-size 0.15s ease;
}
