@use "./tokens.scss" as *;

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // Remove fixed height, let content define it
}

.input-field {
  width: 100%;
  padding: 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: get-color(secondary);

  @extend .regular-spaceblue-15;
}

.input-label {
  position: absolute;
  left: 0.5rem;
  top: 0;
  pointer-events: none;
}
