@use "./tokens.scss" as *;

.confirm-overlay-blur {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.confirm-overlay-modal {
  background-color: get-color(primary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1001;
  text-align: center;
  max-width: 90vw;
  width: 20rem;

  &__buttons {
    height: 2rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
